{{> /common/header }}
	<div class="pb-3 border-bottom">
		<span class="fs-4"># 함께하면 더 즐겁다</span>
	</div>
	<div class="mb-1 mt-1" >
		<a href="/search" class="btn btn-primary" > 회원검색 </a>
	</div>
	<div>
		<a class="btn btn-primary" href="moims" role="button">모임</a>
	</div>
	
{{> /common/footer }}
		